.product-bar {
    border: 1px solid var(--black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 9rem;
        margin: auto 0;

        .product-image-container {
            height: 100%;
            width: 30%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    
        .product-details {
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
    
            > h1 {
                font-size: 1.25rem;
            }
    
            h2 {
                font-size: 0.9rem;
                font-weight: 500;
    
                span {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .buttons-container {
        display: flex;
        gap: 1.5rem;
        margin: 0 auto;
    }

    @media (max-width: 426px) {
    }
}
