$grey: #6B728E;

.dashboard-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 7.5rem;
    padding-bottom: 2rem;

    .page-title {
        font-size: 2.25rem;
    }

    .dashboard-main {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;

        .dashboard-data {
            width: 70%;
            border: 1px solid $grey;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: fit-content;

            .dashboard-title {
                display: flex;
                justify-content: space-between;
                padding: 0 2rem;

                > h1 {
                    font-size: 1.75rem;
                }

                > button {
                    width: 10rem;
                }
            }

            .users {
                display: flex;
                flex-direction: column;
            }

            .orders {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 0 1rem;
            }

            .products {
                padding: 0 2rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2rem;
                row-gap: 2rem;
            }
        }

        .stats {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            border: 1px solid $grey;
            height: fit-content;
            padding: 1rem 0;

            .stats-section-title {
                text-align: center;
                font-size: 1.25rem;
            }

            .stat-box {
                padding: 0.25rem 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                .icon {
                    line-height: 0;
                    padding: 0.5rem;

                    .MuiSvgIcon-root {
                        font-size: 1.5rem;
                    }
                }

                .stat-count {
                    display: flex;
                    width: 100%;
                    margin-right: 1rem;

                    p {
                        font-size: 1.15rem;
                    }

                    span {
                        font-size: 1.15rem;
                        margin-left: auto;
                    }
                }

                &:hover, &.active {
                    cursor: pointer;
                    background-color: var(--grey-7);
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .page-title {
            font-size: 2rem;
        }

        .dashboard-main {
            .dashboard-data {
                width: 75%;

                .dashboard-title {
                    padding: 0 1.5rem;
    
                    > h1 {
                        font-size: 1.5rem;
                    }
                }

                .products {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .stats {
                width: 25%;
                gap: 0.75rem;
                padding: 0.9rem 0;
    
                .stats-section-title {
                    font-size: 1.15rem;
                }
    
                .stat-box {
                    padding: 0.25rem 0.9rem;
    
                    .icon {
                        padding: 0.5rem;
    
                        .MuiSvgIcon-root {
                            font-size: 1.15rem;
                        }
                    }
    
                    .stat-count {
                        margin-right: 1rem;
    
                        p {
                            font-size: 1rem;
                        }
    
                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .dashboard-main {
            flex-direction: column-reverse;

            .dashboard-data {
                width: 100%;

                .dashboard-title {
                    > h1 {
                        font-size: 1.75rem;
                    }
                }
            }

            .stats {
                width: 50%;

                .stats-section-title {
                    font-size: 1.35rem;
                }

                .stat-box {
                    .icon {
                        .MuiSvgIcon-root {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 426px) {
        .dashboard-main {
            .dashboard-data {
                width: 100%;

                .dashboard-title {
                    padding: 0 1rem;

                    > h1 {
                        font-size: 1.75rem;
                    }
                }

                .products {
                    padding: 0 1rem;
                }
            }

            .stats {
                width: 100%;
                
                .stats-section-title {
                    font-size: 1.35rem;
                }
    
                .stat-box {
                    padding: 0.25rem 1rem;
    
                    .icon {
                        .MuiSvgIcon-root {
                            font-size: 1.5rem;
                        }
                    }
    
                    .stat-count {
                        p {
                            font-size: 1.15rem;
                        }
    
                        span {
                            font-size: 1.15rem;
                        }
                    }
                }
            }
        }
    }
}
