.product-info-page-container {
    width: 85%;
    margin: 0 auto;
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;

    .product-name {
        font-size: 2.15rem;
    }

    .product-details {
        display: flex;
        align-items: center;
        gap: 3rem;

        .product-image-container {
            height: 50vh;
            max-height: fit-content;
            width: 30%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .product-info {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h3 {
                font-size: 1.8rem;
                font-weight: 700;
            }

            p {
                font-weight: 700;
                font-size: 1.25rem;

                span {
                    font-weight: 500;
                }
            }
        }
    }

    button {
        margin: 0 auto;
        width: 20%;
    }

    @media (max-width: 1440px) {
        .product-details {
    
            .product-image-container {
                height: 45vh;
            }
        }
    }

    @media (max-width: 1024px) {
        width: 90%;
        gap: 1.8rem;
        padding-bottom: 5rem;

        .product-name {
            font-size: 2rem;
        }

        .product-details {
            gap: 2.6rem;
            flex-direction: column;

            .product-image-container {
                height: 45vh;
                width: 45%;
            }

            .product-info {
                gap: 1.8rem;
                width: 100%;

                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .product-details {
            .product-image-container {
                height: 30vh;
            }
        }
    }

    @media (max-width: 426px) {
        .product-name {
            font-size: 1.75rem;
        }

        .product-details {
            .product-info {
                p {
                    font-size: 1.15rem;
                }
            }
        }

        button {
            margin: 0 auto;
            width: 40%;
        }
    }
}
