.category-preview-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .category-preview-products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 2rem;
    }
}