.category-preview-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    .category-title {
        font-size: 1.15rem;
        width: fit-content;
        cursor: pointer;
    }

    .category-preview-products {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        column-gap: 2.25rem;
        row-gap: 2rem;
    }

    @media (max-width: 1440px) {
    }

    @media (max-width: 1024px) {
        .category-title {
            font-size: 1rem;
        }

        .category-preview-products {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2.25rem;
        }
    }

    @media (max-width: 768px) {
        .category-preview-products {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2.5rem;
            row-gap: 2.5rem;
        }
    }

    @media (max-width: 426px) {
        .category-title {
            font-size: 0.95rem;
        }
        
        .category-preview-products {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
