@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700;900&display=swap');

$grey: #6B728E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --dark: #131921;

    --grey-1: #121212;
    --grey-2: #232323;
    --grey-3: #454545;
    --grey-4: #676767;
    --grey-5: #ABABAB;
    --grey-6: #CDCDCD;
    --grey-7: #EEE;
    --grey-8: #343434;
    --black: #000;
    --blue: #337CCF;
    --light: #F1F0E8;
    --green-1: #1DB954;
    --green-2: #1ed760;
    --green-3: #97DBAE;
    --green-4: #1F8A70;
    --red: #ce1225;

    --bright-black: #222;
    --light-grey: #EAEAEA;

    --facebook: #4267B2;
    --twitter: #1DA1F2;
    --instagram: #405DE6;
    --github: #4078c0;
    --linkedin: #0077b5;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Jost', sans-serif;
    
    max-width: 100vw;
    max-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}
