.product-card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);

    > h1 {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
    }

    > h2 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0 -2rem;
        padding: 0.5rem 0;
        background-color: black;
        color: white;

        span {
            font-weight: 700;
        }
    }

    .product-image-container {
        height: 220px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    @media (max-width: 1024px) {
        padding: 1.75rem;
    }

    @media (max-width: 426px) {
    }
}
