.order-info-bar-dashboard {
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .order-info {
        width: 100%;
        display: flex;
        height: fit-content;
        max-height: 8rem;
        gap: 1rem;

        .product-image-container {
            max-height: 100%;
            width: 15%;
            text-align: center;
            padding: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    
        .order-product-details {
            width: 43%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.5rem;
    
            > h1 {
                font-size: 1.05rem;
            }
    
            h2 {
                font-size: 0.9rem;
                font-weight: 500;
    
                span {
                    font-size: 0.9rem;
                }
            }
        }

        .order-by-details {
            width: 42%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.5rem;
    
            > h1 {
                font-size: 1.05rem;
            }
    
            h2 {
                font-size: 0.9rem;
                font-weight: 500;
    
                span {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .order-status-change {
        .form-dropdown-input {
            width: 50%;
            margin: 0 auto;
            position: relative;

            .dropdown-button {
                text-align: center;
                width: 100%;
                padding: 0.65rem 1rem;
                outline: none;
                border: 1px solid var(--black);
                background-color: transparent;
                font-size: 1rem;
                font-weight: 500;
                color: #6B728E;
                cursor: pointer;
            }

            .dropdown-options {
                position: absolute;
                z-index: 5;
                top: 3rem;
                width: 100%;
                height: 8.4rem;
                overflow-y: scroll;
                background-color: var(--white);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                border: 1px solid var(--black);
    
                .dropdown-option {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0.65rem 1rem;
                    border-bottom: 1px solid var(--black);
    
                    .dropdown-icon {
                        max-width: 2.15rem;
                    }
    
                    p {
                        font-size: 1rem;
                        font-weight: 500;
                        color: #6B728E;
                        margin-left: 0.5rem;
                    }
    
                    &:hover {
                        background-color: var(--fade-grey);
                    }

                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }

            span {
                position: absolute;
                bottom: -1.5rem;
                left: 5px;
                font-size: 0.85rem;
                color: var(--red);
            }
        }

        .delivered-status {
            width: 50%;
            margin: 0 auto;
            background-color: var(--green-4);
            color: var(--white);
            text-align: center;
            padding: 0.65rem 1rem;
            border: 1px solid var(--black);
        }

        .cancelled-status {
            width: 50%;
            margin: 0 auto;
            background-color: var(--red);
            color: var(--white);
            text-align: center;
            padding: 0.65rem 1rem;
            border: 1px solid var(--black);
        }
    }

    @media (max-width: 1024px) {
        .order-info {
            max-height: 10rem;
            gap: 0.85rem;
        
            .order-product-details {
                > h1 {
                    font-size: 0.95rem;
                }
        
                h2 {
                    font-size: 0.8rem;
        
                    span {
                        font-size: 0.8rem;
                    }
                }
            }

            .order-by-details {
                > h1 {
                    font-size: 0.95rem;
                }
        
                h2 {
                    font-size: 0.8rem;
        
                    span {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .order-status-change {
            .form-dropdown-input {

                .dropdown-button {
                    padding: 0.5rem 0.9rem;
                }

                .dropdown-options {
                    height: 7.5rem;
        
                    .dropdown-option {
                        padding: 0.5rem 0.9rem;
                    }
                }
            }

            .delivered-status {
                padding: 0.5rem 0.9rem;
            }

            .cancelled-status {
                padding: 0.5rem 0.9rem;
            }
        }
    }

    @media (max-width: 426px) {
        .order-info {
            max-height: fit-content;
            flex-direction: column;

            .product-image-container {
                max-height: 100%;
                width: 40%;
                margin: 0 auto;
                padding: 0.25rem;
            }
        
            .order-product-details {
                width: 100%;
                gap: 0.5rem;
        
                > h1 {
                    font-size: 1.15rem;
                }
        
                h2 {
                    font-size: 1rem;
        
                    span {
                        font-size: 1rem;
                    }
                }
            }
    
            .order-by-details {
                width: 100%;
                gap: 0.5rem;
        
                > h1 {
                    font-size: 1.15rem;
                }
        
                h2 {
                    font-size: 1rem;
        
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }

        .order-status-change {
            .form-dropdown-input {
                width: 70%;
    
                .dropdown-button {
                    padding: 0.65rem 1rem;
                }
    
                .dropdown-options {
                    height: 8.4rem;
        
                    .dropdown-option {
                        padding: 0.65rem 1rem;
        
                        .dropdown-icon {
                            max-width: 2.15rem;
                        }
        
                        p {
                            font-size: 1rem;
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
    
            .delivered-status {
                width: 70%;
                padding: 0.65rem 1rem;
            }
    
            .cancelled-status {
                width: 70%;
                padding: 0.65rem 1rem;
            }
        }
    }
}
