.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 10rem;
    background-color: var(--dark);

    .nav-logo {
        width: 2.75rem;
    }

    .nav-title {
        margin-left: 1rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .nav-links-container {
        display: flex;
        gap: 1.5rem;
        margin-left: auto;

        li {
            list-style: none;
            cursor: pointer;

            .nav-link {
                text-decoration: none;
                color: var(--white);
            }
        }
    }

    box-shadow: 0 0 12px var(--dark);
}