.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 8rem;
    background-color: var(--dark);
    height: 5rem;
    box-shadow: 0 0 12px var(--dark);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;

    .nav-link {
        text-decoration: none;
        color: var(--white);
        display: flex;
        align-items: center;
    }

    .nav-logo {
        width: 2.75rem;
    }

    .nav-title {
        margin-left: 1rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .nav-links-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-left: auto;

        li {
            list-style: none;
            cursor: pointer;

            .cart-icon-container {
                position: relative;
                cursor: pointer;

                .icon {
                    display: block;
                    font-size: 1.85rem;
                    color: white;
                }

                span {
                    position: absolute;
                    top: 35%;
                    left: 55%;
                    transform: translate(-50%, -50%);
                    font-weight: 700;
                    color: var(--dark);
                    font-size: 0.75rem;
                    user-select: none;
                }
            }
        }
    }

    .more-icon-container {
        display: none;
        cursor: pointer;

        .icon {
            display: block;
            font-size: 1.85rem;
            color: white;
        }
    }

    @media (max-width: 1024px) {
        padding: 1rem 5rem;
    }

    @media (max-width: 768px) {
        padding: 1rem 3rem;
    }

    @media (max-width: 426px) {
        padding: 1rem 1.5rem;

        .nav-title {
            display: none;
        }

        .nav-links-container {
            li {
                display: none;
            }
        }

        .more-icon-container {
            display: flex;
        }
    }
}
