$grey: #6B728E;

.cart-dropdown-item-container {
    width: 100%;
    display: flex;
    height: 4rem;
    border: 1px solid $grey;
    border-radius: 0.25rem;

    .dropdown-item-image {
        height: 100%;
        width: 30%;
        text-align: center;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .item-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0.75rem 0;

        .name {
            font-size: 0.9rem;
        }

        .price {
            font-size: 0.9rem;
        }
    }
}