.footer {
    padding: 2.5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark);
    color: var(--white);

    .footer-useful-links {
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .section-title {
            font-size: 1.65rem;
        }

        .links-container {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-bottom: 3rem;
            row-gap: 0.85rem;
            column-gap: 3rem;

            li {
                .link {
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: var(--white);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .social-links-container {
        display: flex;
        gap: 0.25rem;

        .social-link {
            width: 2.8rem;
            height: 2.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        
            background-color: #444;
        
            transition: all 0.25s ease-in-out;

            .fa-social {
                font-size: 1.4rem;
                color: var(--white);
            
                transition: all 0.25s ease-in-out;
            }

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }

        .fa-facebook {
            &:hover {
                background-color: var(--facebook);
            }
        }

        .fa-twitter {
            &:hover {
                background-color: var(--twitter);
            }
        }

        .fa-instagram {
            &:hover {
                background-color: var(--instagram);
            }
        }

        .fa-github {
            &:hover {
                background-color: var(--github);
            }
        }

        .fa-linkedin {
            &:hover {
                background-color: var(--linkedin);
            }
        }
    }

    @media (max-width: 1024px) {
        .footer-useful-links {
            .section-title {
                font-size: 1.5rem;
            }
    
            .links-container {
                padding-bottom: 2.75rem;
    
                li {
                    .link {
                        font-size: 1rem;
                    }
                }
            }
        }

        .social-links-container {
            .social-link {
                width: 2.6rem;
                height: 2.6rem;

                .fa-social {
                    font-size: 1.25rem;
                }
            }
        }

        .footer-credits {
            font-size: 0.95rem;
        }
    }

    @media (max-width: 768px) {
        .footer-useful-links {
            .links-container {
                grid-template-columns: repeat(4, 1fr);
                column-gap: 1rem;

                li {
                    .link {
                        font-size: 1rem;
                    }
                }
            }
        }

        .social-links-container {
            .social-link {
                width: 2.5rem;
                height: 2.5rem;

                .fa-social {
                    font-size: 1.25rem;
                }
            }
        }

        .footer-credits {
            font-size: 0.95rem;
        }
    }

    @media (max-width: 426px) {
        padding: 2.5rem 0 3rem 0;

        .footer-useful-links {
            .links-container {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 1rem;
            }
        }

        .social-links-container {
            .social-link {
                width: 2rem;
                height: 2rem;

                .fa-social {
                    font-size: 1.05rem;
                }
            }
        }

        .footer-credits {
            font-size: 0.85rem;
        }
    }
}
