$grey: #6B728E;

.update-profile-page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
    margin: 0 auto;
    margin-top: 8rem;
    padding-bottom: 4rem;

    .update-profile-form-container {
        display: flex;
        flex-direction: column;
        border: 1px solid $grey;
        padding: 1.5rem;

        h2 {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .user-image-container {
            margin: 0 auto;
            margin-bottom: 2.5rem;
            height: 100%;
            width: 30%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
        
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        form {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 3rem;
            align-items: center;

            .image-input-group{
                display: flex;
                flex-direction: column;

                .image-input-container {
                    display: flex;
                    align-items: center;
            
                    label {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
            
                        .MuiSvgIcon-root {
                            color: var(--green-1);
                        }
            
                        > span {
                            margin-left: 1rem;
                            font-size: 1rem;
                            font-weight: 500;
                            color: #6B728E;
                        }
                    }
            
                    .image-input {
                        display: none;
                    }
            
                    > span {
                        margin-left: 0.8rem;
                        font-size: 0.85rem;
                        color: var(--red);
                    }
                }

                span {
                    margin-top: 5px;
                    margin-left: 5px;
                    font-size: 0.85rem;
                    color: var(--red);
                }
            }
        }

        .loader {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
        }

        .buttons-container {
            display: flex;
            gap: 1.5rem;
        
            button {
                margin: 0 auto;
                margin-top: 2rem;
                height: fit-content;
                width: 50%;
            }
        }
    }

    @media (max-width: 1024px) {
        padding-bottom: 4rem;
    }

    @media (max-width: 768px) {
        padding-bottom: unset;
    }
}
