.products-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 7.5rem;
    padding-bottom: 2.5rem;

    .products-container {
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        column-gap: 2.25rem;
        row-gap: 2rem;
    }

    @media (max-width: 1024px) {
        .products-container {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2.25rem;
        }
    }

    @media (max-width: 768px) {
        .products-container {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2.5rem;
            row-gap: 2.5rem;
        }
    }

    @media (max-width: 426px) {
        .products-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
