$grey: #6B728E;

.cart-product-container {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $grey;
    height: 13rem;
    padding-bottom: 1rem;
    gap: 1rem;

    .cart-product-info {
        display: flex;
        width: 94%;
        gap: 1rem;
    
        .product-image-container {
            height: 100%;
            width: 30%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .cart-product-details {
            width: 70%;
            font-size: 0.85rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
    
            h2 {
                font-weight: 500;
            }
    
            .price {
                font-weight: 700;
            }
    
            .more-options {
                margin-top: auto;
            }
        }

        @media (max-width: 426px) {
            width: 100%;
        }
    }

    .product-quantity-selection {
        width: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @media (max-width: 426px) {
            width: 100%;
            flex-direction: row-reverse;
        }
    }

    @media (max-width: 426px) {
        flex-direction: column;
        height: fit-content;
    }
}
