.banner-container {
    width: 100vw;
    height: 65vh;
    background: url('https://cdn.vox-cdn.com/thumbor/WXfRfPoT7Z9sm2nnfUNjhOnbM58=/0x0:1920x1080/1200x480/filters:focal(807x387:1113x693)/cdn.vox-cdn.com/uploads/chorus_image/image/67155968/Microstar_Article2_Lede.7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 6rem;
        padding-left: 4rem;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            width: fit-content;
            font-size: 4rem;
            color: white;
        }

        h2 {
            width: fit-content;
            font-size: 1.75rem;
            color: white;

            span {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        button {
            margin-top: 1.5rem;
            width: 8rem;
        }
    }

    @media (max-width: 1024px) {
        .overlay {
            padding-top: 5rem;
            padding-left: 2.5rem;
            gap: 1rem;
    
            h1 {
                font-size: 3rem;
            }
    
            h2 {
                font-size: 1.35rem;
            }
    
            button {
                margin-top: 1.15rem;
                width: 8rem;
            }
        }
    }

    @media (max-width: 768px) {
        height: 35vh;

        .overlay {
            padding-top: 5rem;
            padding-left: 2.5rem;
            gap: 1rem;
    
            h1 {
                font-size: 2.5rem;
            }
    
            h2 {
                font-size: 1.15rem;
            }
        }
    }

    @media (max-width: 768px) {
        height: 25vh;

        .overlay {
            padding-top: 2.5rem;
            padding-left: 1.5rem;
            gap: 0.8rem;
    
            h1 {
                font-size: 1.4rem;
            }
    
            h2 {
                font-size: 0.65rem;
            }

            button {
                margin-top: 0.5rem;
                padding: 0.6rem;
                width: 5.75rem;
                font-size: 0.65rem;
            }
        }
    }
}
